<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Amit
                <span class="text-primary">Yadav</span>
            </h1>
            <div class="subheading mb-5">
                Shree Dham sadar pur calony sector 45 noida 201303 · <a href="tel:9015843127">+91-9015843127</a>-
                <a href="mailto:{{email}}">{{email}}</a>
            </div>
            <p class="lead mb-5">I am experienced in leveraging agile frameworks like (Laravel,CI,Node,Angular,IONIC,React) 
                to provide a robust synopsis for high level development. Iterative approaches to corporate
                 strategy foster collaborative thinking to further the overall value proposition.</p>
            <div class="social-icons">
                <a class="social-icon" target="_blank" href="{{linkedIn}}"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" target="_blank" href="{{gitHub}}"><i class="fab fa-github"></i></a>
                <a class="social-icon" target="_blank" href="{{twittr}}"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" target="_blank" href="{{facebook}}"><i class="fab fa-facebook-f"></i></a>
                <a class="social-icon" target="_blank" href="{{resume}}"><i class="fa fa-download"></i></a>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Experience</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Team Lead</h3>
                    <div class="subheading mb-3">InnovationM</div>
                    <p>Backend Team Lead at InnovationM | Leading Scalable Backend Solutions with Laravel for Saregama (Padhanisha)</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Jan 2023 - Present</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Senior Software Engineers</h3>
                    <div class="subheading mb-3">A5E Consulting</div>
                    <p>I worked at A5E Consulting as an individual backend developer, contributing to backend development tasks independently.
                        This experience likely involved handling server-side logic, database management, and building or maintaining APIs to support frontend and mobile applications.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Mar 2022 - Dec 2022</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Senior Software Engineer</h3>
                    <div class="subheading mb-3">Growth Wings</div>
                    <p>I worked at Growth Wings as an full stack developer, contributing 
                        to backend and frontend development tasks independently. This experience likely involved 
                        handling server-side logic, database management, and building or maintaining 
                        APIs to support frontend and mobile applications.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Jun 2021 - Mar 2022</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Senior Software Engineer</h3>
                    <div class="subheading mb-3">Wizard Infoways Pvt Ltd</div>
                    <p>I worked at Wizard Infoways Pvt Ltd as an full stack developer, contributing 
                        to backend and frontend development tasks independently. This experience likely involved 
                        handling server-side logic, database management, and building or maintaining 
                        APIs to support and handled client also.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Mar 2015 - May 2021</span></div>
            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Junior Software Engineer</h3>
                    <div class="subheading mb-3">Softrock Technologies</div>
                    <p>I worked at Softrock Technologies as an junior backend developer.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Mar 2014 - Jan 2015</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Education-->
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Education</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">MCA</h3>
                    <div class="subheading mb-3">Master in computer Application</div>
                    <div>Master in computer Application</div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary"> 2010 - 2013</span></div>
            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">BA</h3>
                    <div class="subheading mb-3">Bachelor of Arts</div>
                    <div>Bachelor of Arts from DDU</div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary"> 2010 - 2013</span></div>
            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">NIIT</h3>
                    <div class="subheading mb-3">GNIIT (Diploma in Software Engineering)</div>
                    <div>Computer Science - Web Development Track</div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">2010 - 2013</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">NIIT</h3>
                    <div class="subheading mb-3">Web Application Development</div>
                    <div>DMSQL (Web Application Development using PHP & MYSQL)</div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">June 2012 - Dec 2012</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Skills-->
    <section class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-5">Skills</h2>
            <div class="subheading mb-3">Programming Languages & Tools</div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                <li class="list-inline-item"><i class="fab fa-angular"></i></li>
                <li class="list-inline-item"><i class="fab fa-react"></i></li>
                <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                <li class="list-inline-item"><i class="fab fa-sass"></i></li>
                <li class="list-inline-item"><i class="fab fa-less"></i></li>
                <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
                <li class="list-inline-item"><i class="fab fa-npm"></i></li>
            </ul>
            <div class="subheading mb-3">Workflow</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Mobile-First, Responsive Design
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Cross Browser Testing & Debugging
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Cross Functional Teams
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Agile Development & Scrum
                </li>
            </ul>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Interests-->
    <section class="resume-section" id="interests">
        <div class="resume-section-content">
            <h2 class="mb-5">Interests</h2>
            <p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.</p>
            <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.</p>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Awards-->
    <section class="resume-section" id="awards">
        <div class="resume-section-content">
            <h2 class="mb-5">Awards & Certifications</h2>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    Google Analytics Certified Developer
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    Mobile Web Specialist - Google Certification
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    1
                    <sup>st</sup>
                    Place - University of Colorado Boulder - Emerging Tech Competition 2009
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    1
                    <sup>st</sup>
                    Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    2
                    <sup>nd</sup>
                    Place - University of Colorado Boulder - Emerging Tech Competition 2008
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    1
                    <sup>st</sup>
                    Place - James Buchanan High School - Hackathon 2006
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    3
                    <sup>rd</sup>
                    Place - James Buchanan High School - Hackathon 2005
                </li>
            </ul>
        </div>
    </section>
</div>